.friendBox {
  width: 300px;
  margin: 0 auto 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 3px 3px 3px rgba(0, 0, 0, 0.14),
    3px 3px 3px rgba(0, 0, 0, 0.2);
}
